/* .bloque {
    background: blue;
}

.linea {
    background: red;
} */

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-items: center; */
    width: 700px;
    height: 400px;
    border: 3px solid black;
    padding: 10px;
    /* align-items: stretch; */
}

.item {
    /* width: 100px; */
    border: 1px solid black;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
}

#caja1 {}

#caja2 {}

#caja3 {}


/* .container {
    display: flex;
}

.headerPrincipal-nav {
    display: flex;
} */