body{background-color: lightgray;font-family: 'Lobster', cursive;}
header{background-color: #808080;}
nav{color: white;}

img{width: 200px;height: 200px;}
#logo{width: 400px;}

div p{font-family: Georgia, 'Times New Roman', Times, serif;} 

h1,h2,h3{color: white;}

h2{font-family: 'Times New Roman', Times, serif;}

main{background-color: #1de61a;}



